a.button {
  text-decoration: none;
  padding: 16px;
  display: inline-block;
  border-radius: 8px;
  font-weight: bold;
  background-color: #0c356a;
  color: #f5f7f8;
}
a.button:hover {
  background-color: #38567d;
}

a.dangerButton {
  background-color: #c70039;
}
a.dangerButton:hover {
  background-color: #c94369;
}

a.successButton {
  background-color: #7a9d54;
}
a.successButton:hover {
  background-color: #849b6c;
}

a.warningButton {
  background-color: #fd8d14;
}
a.warningButton:hover {
  background-color: #eeae6a;
}

a.infoButton {
  background-color: #4477ce;
}
a.infoButton:hover {
  background-color: #83a1d6;
}