ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #495e57;
}

ul.menu li {
  display: inline;
}

ul.menu li a {
  text-decoration: none;
  padding: 16px;
  display: inline-block;
  color: #f5f7f8;
  font-weight: bold;
}

ul.menu li a:hover {
  background-color: #586762;
}