aside {
  width: 200px;
}
aside.hidden {
  display: none;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
aside nav a {
  background-color: #f1f1f1;
  text-decoration: none;
  padding: 8px;
  color: black;
}
aside nav a:hover {
  background-color: #ccc;
}

@media (min-width:768px) {
  aside.hidden {
    display: block ;
  }
}