header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}
header div.logo {
  letter-spacing: 4px;
  user-select: none;
  cursor: pointer;
}
header div.toggleMenu {
  cursor: pointer;
}

@media (min-width: 768px) {
  header div.toggleMenu {
    display: none;
  }
}