h1 {
  /* background-color: red; */
  background-image: url(../images/bg.jpg);
  /* background-repeat: repeat; */
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  background-repeat: no-repeat;
  /* background-position-x: left; */
  /* background-position-x: center; */
  /* background-position-x: right; */
  /* background-position-y: top; */
  /* background-position-y: center; */
  /* background-position-y: bottom; */
  /* background-size: auto; */
  /* background-size: contain; */
  background-size: cover;
  /* background-attachment: scroll; */
  background-attachment: fixed;
}
